<div class="container-fluid">
  <form action="/equips/new_sc" method="post" enctype="multipart/form-data">
    <dl>
      <dt>
        <label for="sc_name">Enter a unit name:</label>
      </dt>
      <dd>
        <input class="content" name="sc_name" placeholder="" type="text"  value="<%= params[:sc_name] %>" required>
        <input name="edited" type="checkbox" required>
      </dd>
      <% @current_card.each do |key, value| %>
      <dt>
        <label for="<% key %>"><%= key.capitalize %> info:</label>
      </dt>
      <dd>
        <% if key == "pic" %>
          <label for="upload"><em>upload a file or enter filename (from server)</em></label>
          <input type="file" name="file" value="upload">
          <input class="content" name="<%= key %>" placeholder="" type="text" value="<%= params[key.to_sym] || value %>">

        <% elsif special_key?(key) || key == 'stars'%>
          <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= params[key.to_sym] || value %>">
        <% elsif key == "index" %>
         <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= value %>">
        <% elsif key == "enabled" %>
         <input class="content" name="enabled" placeholder="" type="checkbox">
        <% elsif key == 'stats' %>
          <textarea class="content" name="normal" placeholder="attack 100 200 300 defense 110 210 310" rows="3" cols="50"><%= value %></textarea>
          <label for="prism">Prism info:</label>
          <textarea class="content" name="prism" placeholder="attack 100 200 300 defense 110 210 310" rows="3" cols="50"><%= value %></textarea>
        <% elsif ['prism', 'normal', 'passive'].include?(key) %>
          <textarea class="content" name="<%= key %>" placeholder="attack 100 200 300 defense 110 210 310" rows="3" cols="50"><%= flatten_if_possible(value) %></textarea>
        <% else %>
          <textarea class="content" name="<%= key %>" rows="5" cols="50"><%= value %></textarea>
        <% end %>
      </dd>
      <% end %>
      <dd>
        <% if @current_card['prism'].nil? %>
          <label for="prism">Prism info:</label>
          <textarea class="content" name="prism" placeholder="attack 100 200 300 defense 110 210 310" rows="3" cols="50"></textarea>
        <% end %>
        </dd>
    </dl>
    <fieldset class="actions">
      <button type="submit" value="Save">Save</button>
      <a href="/equips/<%= @current_card['stars'] %>stars/<%= @card_name.downcase %>"><button type="button">Cancel</button></a>
    </fieldset>
  </form>
</div>
