<div class="container-fluid">
  <form action="/equips/new_sc" method="post" enctype="multipart/form-data">
    <dl>
      <dt>
        <label for="sc_name">Enter a unit name:</label>
      </dt>
      <dd>
        <input class="content" name="sc_name" placeholder="" type="text"  value="<%= params[:sc_name] %>" required>
        <input name="edited" type="checkbox" required>
      </dd>
      <% @current_card.each do |key, value| %>
      <dt>
        <label for="<% key %>"><%= key.capitalize %> info:</label>
      </dt>
      <dd>
        <% if key == "pic" %>
          <label for="upload">upload a file</label>
          <input type="file" name="file" value="upload">
          <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= params[key.to_sym] || value %>">

        <% elsif is_special_key?(key) %>
          <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= params[key.to_sym] || value %>">
        <% elsif key == "index" %>
         <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= value %>">
        <% else %>
          <textarea class="content" name="<%= key %>" rows="5" cols="50"><%= value %></textarea>
        <% end %>
      </dd>
      <% end %>
    </dl>
    <fieldset class="actions">
      <button type="submit" value="Save">Save</button>
      <a href="/equips/soulcards">Cancel</a>
    </fieldset>
  </form>
</div>
