<div class="container-fluid">
  <form action="/new_unit" method="post" enctype="multipart/form-data">
    <dl>
      <dt>
        <label for="current_unit_name">Unit name:</label>
      </dt>
      <dd>
        <input class="content" name="current_unit_name" placeholder="" type="text" value="<%= @unit_name %>" readonly="readonly">
        <input name="edited" type="checkbox" required> Check box to enable editing
      </dd>
      <dt>
        <label for="new_unit_name">Enter New unit name:  (Leave empty unless you want to change the name)</label>
      </dt>
      <dd>
        <input class="content" name="new_unit_name" placeholder="" type="text" value="<%= params[:new_unit_name] %>">
      </dd>
      <% @current_unit.each do |key, value| %>
      <dt>
        <label for="<% key %>"><%= key.capitalize %> info:</label>
      </dt>
      <dd>
        <% if key == "pic" %>
          <label for="upload"><em>upload a file or enter filename (from server)</em></label>
          <input type="file" name="file" value="upload">
          <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= params[key.to_sym] || value %>">

        <% elsif special_key?(key) || short_stat_key?(key) %>
          <% if key == "type" %>
            <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= params[key.to_sym] || value %>"> Example: attacker, healer, tank, buffer, debuffer
          <% elsif key == "element" %>
            <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= params[key.to_sym] || value %>"> Example: water, fire, grass, light, dark
          <% else %>
            <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= params[key.to_sym] || value %>">
          <% end %>
        <% elsif key == "index" || key == 'date'%>
         <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= value %>">
         <% elsif key == "enabled" %>
         <input class="content" name="enabled" placeholder="" type="checkbox"> Check to hide profile from public view
        <% else %>
          <textarea class="content" name="<%= key %>" rows="5" cols="50"><%= value %></textarea>
        <% end %>
      </dd>
      <% end %>
    </dl>
    <fieldset class="actions">
      <button type="submit" value="Save">Save</button>
      <a href="/childs/<%= @current_unit['stars'] %>stars/<%= @unit_name.downcase %>"><button type="button">Cancel</button></a>
    </fieldset>
  </form>
</div>
