<div id="form_div">
  <%= @x %>
  <form action="/new_unit" method="post">
    <dl>
      <dt>
        <label for="unit_name">Enter a unit name:</label>
      </dt>
      <dd>
        <input class="content" name="unit_name" placeholder="" type="text"  value="<%= params[:unit_name] %>">
      </dd>
      <% @current_unit.each do |key, value| %>
      <dt>
        <label for="<% key %>"><%= key.capitalize %> info:</label>
      </dt>
      <dd>
        <% if key == "pic" || key == "tier" || key == "leader" || key == "stars" || key == "type" || key == "element" %>
          <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= params[key.to_sym] || value %>">
        <% elsif key == "index" %>
         <input class="content" name="<%= key %>" placeholder="" type="text"  value="<%= value %>">
        <% else %>
          <textarea class="content" name="<%= key %>" rows="5" cols="50"><%= value %></textarea>
        <% end %>
      </dd>
      <% end %>
    </dl>
    <fieldset class="actions">
      <input type="submit" value="Save">
      <a href="/">Cancel</a>
    </fieldset>
  </form>
</div>
