<div class="container-fluid">
  <form action="/new_unit" method="post" enctype="multipart/form-data">
    <dl>
      <dt>
        <label for="unit_name">Enter a unit name:</label>
      </dt>
      <dd>
        <h5>Original</h5><input class="content" type="hidden" name="original_unit_name" placeholder="<%= @unit_name.downcase %>" type="text" value="<%= @unit_name.downcase %>">
        <h5>New</h5><input class="content" name="unit_name" placeholder="" type="text" value="<%= params[:unit_name] %>" required>
      </dd>
      <dd>
        Enable this unit?(Makes it visible)<input type="hidden" name="enabled" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
      </dd>
      <% @current_unit.each do |col_name, value| %>
        <% next if col_name == 'name' || col_name == 'enabled'%>
        <% if col_name == 'id' %>
          <input class="content" type="hidden" name="<%= col_name %>" placeholder="" type="text"  value="<%= value %>">
          <% next %>
        <% end %>
      <dt>
        <label for="<% col_name %>"><%= col_name.capitalize %> info:</label>
      </dt>
      <dd>


        <% if col_name.include?('pic') %>
        <label for="upload"><em>upload a file or enter filename (from server)</em></label>
        <input type="file" name="file<%= col_name %>" value="upload">
        <input class="content" name="<%= col_name %>" placeholder="file-name" type="text"  value="<%= params[col_name.to_sym] ||  value %>">
        <% end %>
      </dd>
      <dd>
        <% if special_key?(col_name) || short_stat_key?(col_name) %>
        <% next if col_name.include?('pic') %>
          <% if col_name == "type" %>
            <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] || value %>"> Example: attacker, healer, tank, buffer, debuffer
          <% elsif col_name == "element" %>
            <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] || value %>"> Example: water, fire, grass, light, dark
          <% else %>
            <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] || value %>">
          <% end %>
        <% elsif col_name == 'created_on' %>
         <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= value %>" disabled>
        <% else %>
          <textarea class="content" name="<%= col_name %>" rows="5" cols="50"><%= value %></textarea>
        <% end %>
      </dd>
      <% end %>
    </dl>
    <fieldset class="actions">
      <button type="submit" value="Save">Save</button>
      <a href="/childs/<%= @current_unit['stars'] %>stars/<%= @unit_name.downcase %>"><button type="button">Cancel</button></a>
    </fieldset>
  </form>
</div>
