<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<div class="container">
<h4>Recently added/updated Childs</h4>
    <div class="row justify-content-center">
    <% @units.each do |unit, unit_details| %>
    <% rating = unit_details["stars"] + "stars" %>
          <div class="col-* unit-grid-cols">

            <% if session[:username] %>
            <div class="edit-remove-buttons">
              <a href="/childs/<%= rating %>/<%= unit %>/edit">Edit</a>|
              <a href="/childs/<%= rating %>/<%= unit %>/remove" onClick="return checkMe()">Remove</a>
            </div>
            <% end %>

              <a href="/childs/<%= rating %>/<%= unit %>">
                <img src="<%= unit_details['pic'] %>"/>
                </a>
            <div class="index-stat-pic-container">
                <%== format_stat("type", unit_details["type"]) %>
                <%== format_stat("element", unit_details["element"]) %>
            </div>
            <h6 class="unit-profile-title"><%= upcase_name(unit) %></h6>
        </div>
    <% end %>
    </div>
</div>


<div class="container">
<h4>Recently added/updated Soul Cards</h4>
    <div class="row justify-content-center">
      <% @soulcards.each do |card, card_details| %>
        <% rating = card_details["stars"] + "stars" %>
      <div class="col-* sc-grid-cols">
        <!-- <div class="index-profile-title"><h6><%= upcase_name(card) %></h6></div> -->
          <% if session[:username] %>
          <div class="edit-remove-buttons">
            <a href="/equips/<%= rating %>/<%= card %>/edit">Edit</a>|
            <a href="/equips/<%= rating %>/<%= card %>/remove" onClick="return checkMe()">Remove</a>
          </div>
          <% end %>

            <a href="/equips/<%= rating %>/<%= card %>">
              <img class="sc_index_pic" src="<%= card_details['pic'] %>"/>
            </a>
          <h6 class="sc-profile-title"><%= upcase_name(card) %></h6>
      </div>
  <% end %>
  </div>
</div>

<!-- # <% if session[:message] %>
#   <p class="message"><%= session.delete(:message) %></p>
# <% end %>
# <div class="container">
# <h4>Recently added/updated Childs</h4>
#     <div class="row justify-content-center">
#     <% @units.each do |unit, unit_details| %>
#     <% rating = unit_details["stars"] + "stars" %>
#           <div class="col-* unit-grid-cols">
#           <div class="index-profile-title">
#             <h6><%= upcase_name(unit) %></h6>
#           </div>
#             <% if session[:username] %>
#             <div>
#               <a href="/childs/<%= rating %>/<%= unit %>/edit">Edit</a>|
#               <a href="/childs/<%= rating %>/<%= unit %>/remove" onClick="return checkMe()">Remove</a>
#             </div>
#             <% else %>
#               <p>  </p>
#             <% end %>
#             <a href="/childs/<%= rating %>/<%= unit %>"><img class="unit_homepage_pic" src="<%= unit_details['pic'] %>"/></a>
#           </div>
#     <% end %>
#     </div>
# </div>
#
# <div class="container">
# <h4>Recently added/updated Soul Cards</h4>
#     <div class="row justify-content-center">
#       <% @soulcards.each do |card, card_details| %>
#         <% rating = card_details["stars"] + "stars" %>
#           <div class="col-* sc-grid-cols">
#           <div class="index-profile-title">
#             <h6><%= upcase_name(card) %></h6>
#           </div>
#           <% if session[:username] %>
#             <a href="/equips/<%= rating %>/<%= card %>/edit">Edit</a>|
#             <a href="/equips/<%= rating %>/<%= card %>/remove" onClick="return checkMe()">Remove</a>
#           <% else %>
#             <p>  </p>
#           <% end %>
#           <a href="/equips/<%= rating %>/<%= card %>"><img class="sc_homepage_pic" src="<%= card_details['pic'] %>"/></a>
#         </div>
#     <% end %>
#     </div>
# </div> -->
