<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>
<div class="units_list_div">
<h2>Recently added/updated childs</h2>
    <% @units.each do |unit, unit_details| %>
    <% rating = unit_details["stars"] + "stars" %>
      <% next if unit == "new_unit" %>
        <div class="unit_div <%= unit_details["element"] %>">
          <h2><%= upcase_name(unit) %></h2>
          <% if session[:username] %>
            <a href="/childs/<%= rating %>/<%= unit %>/edit">Edit</a>|
            <a href="/childs/<%= rating %>/<%= unit %>/remove" onClick="return checkMe()">Remove</a>
          <% else %>
            <p>  </p>
          <% end %>
          <a href="/childs/<%= rating %>/<%= unit %>"><img class="unit_index_pic" src="<%= unit_details['pic'] %>"/></a>
        </div>
    <% end %>
</div>
<div class="units_list_div">
<h2>Recently added/updated Soul Cards</h2>
    <% @soulcards.each do |card, card_details| %>
    <% rating = card_details["stars"] + "stars" %>
        <div class="sc_div">
          <h2><%= upcase_name(card) %></h2>
          <% if session[:username] %>
            <a href="/equips/<%= rating %>/<%= card %>/edit">Edit</a>|
            <a href="/equips/<%= rating %>/<%= card %>/remove" onClick="return checkMe()">Remove</a>
          <% else %>
            <p>  </p>
          <% end %>
          <a href="/equips/<%= rating %>/<%= card %>"><img class="sc_index_pic" src="<%= card_details['pic'] %>"/></a>
        </div>
    <% end %>
</div>
