<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<div class="container notice-board">
  <h4>Notice</h4>
  <% if session[:username] %>
    <a href="/maininfo/edit">Edit Main Notice</a>
  <% end %>
  <h6><%== @message_note['home']['main'] %></h6>
  <p><%== @message_note['home']['sub'] %></p>
  <p><%== @message_note['home']['sub2'] %></p>
</div>




<div class="container">
<h4>Recent Child Updates</h4>
    <div class="row justify-content-center">
    <% @new_units.each do |unit| %>
    <% rating = unit["stars"] + "stars" %>
        <div class="col-* unit-grid-cols">

            <% if session[:username] %>
            <div class="edit-remove-buttons">
              <a href="/childs/<%= rating %>/<%= unit['name'] %>/edit">Edit</a>|
              <a href="/childs/<%= rating %>/<%= unit['name'] %>/remove" onClick="return checkMe('<%= unit['name'] %>')">Remove</a>
            </div>
            <% end %>
<!-- remove LINKADDRESS from a link below -->
              <a class="linkaddress" href="/childs/<%= rating %>/<%= unit['name'] %>">
                <img class="profile_imgs" src="<%= unit['pic1'] %>" alt="<%= unit['pic1'].split("/").last %>"/>
                </a>
            <div class="index-stat-pic-container">
                <%== format_stat("type", unit["type"]) %>
                <%== format_stat("element", unit["element"]) %>
            </div>
            <h6 class="unit-profile-title"><%= upcase_name(unit['name']) %></h6>
        </div>
    <% end %>
    </div>
</div>

<div class="container">
<h4>Recent Soul-Card Updates</h4>
    <div class="row justify-content-center">
      <% @new_soulcards.each do |card, card_details| %>
        <% rating = card["stars"] + "stars" %>
      <div class="col-* sc-grid-cols">
          <% if session[:username] %>
          <div class="edit-remove-buttons">
            <a href="/equips/<%= rating %>/<%= card['name'] %>/edit">Edit</a>|
            <a href="/equips/<%= rating %>/<%= card['name'] %>/remove" onClick="return checkMe('<%= card['name'] %>')">Remove</a>
          </div>
          <% end %>

            <a href="/equips/<%= rating %>/<%= card['name'] %>">
              <img class="sc_index_pic" src="<%= card['pic1'] %>" alt="<%= card %>"/>
            </a>
          <h6 class="sc-profile-title"><%= upcase_name(card['name']) %></h6>
      </div>
  <% end %>
  </div>
</div>
