<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<div style="text-align: center;">
  <input id="search" type="text" placeholder="search name..." autofocus/>
</div>

<div class="container">
    <div class="row justify-content-center">
      <% @cards.each do |card, card_details| %>
        <% rating = card_details["stars"] + "stars" %>
      <div class="col-* sc-grid-cols">
        <!-- <div class="index-profile-title"><h6><%= upcase_name(card) %></h6></div> -->
          <% if session[:username] %>
          <div class="edit-remove-buttons">
            <a href="/equips/<%= rating %>/<%= card %>/edit">Edit</a>|
            <a href="/equips/<%= rating %>/<%= card %>/remove" onClick="return checkMe()">Remove</a>
          </div>
          <% end %>

          <a href="/equips/<%= rating %>/<%= card %>">
            <img class="sc_index_pic" src="<%= card_details['pic'] %>" alt="<%= card %>"/>
          </a>
          <h6 class="sc-profile-title"><%= upcase_name(card) %></h6>
      </div>
  <% end %>
  </div>
</div>
