<div id="add_new_unit">
  <a href="/new_unit">Add new unit</a>
</div>
<div class="units_list_div">
    <% @units.each do |unit, unit_details| %>
      <% next if unit == "new_unit" %>


      <div class="unit_div">
        <h2><%= unit.capitalize %></h2>
        <a href="/<%= unit %>/edit">Edit</a> | 
        <a href="/<%= unit %>/remove">Remove</a>
        <!-- <div class="action_buttons">
          <form class="edit_button" action="/<%= unit %>/edit" method="get">
              <button type="submit">E</button>
          </form>
          <form class="delete_button" action="/<%= unit %>/remove" method="post">
              <button type="submit">X</button>
          </form>
        </div> -->
        <a href="/<%= unit %>"><img class="unit_index_pic" src="<%= unit_details['pic'] %>"/></a>
      </div>
    <% end %>
</div>
