<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>
  <div id="links">
  <a href="/">Show unit list</a>
  <% if session[:username] %>
    <a id="add_new_unit" href="/equips/new_sc">Add new SoulCard</a>
  <% end %>
</div>
<div class="units_list_div">
    <% @cards.each do |card, card_details| %>
    <% rating = card_details["stars"] + "stars" %>
        <div class="sc_div">
          <h2><%= upcase_name(card) %></h2>
          <% if session[:username] %>
            <a href="/equips/<%= rating %>/<%= card %>/edit">Edit</a>|
            <a href="/equips/<%= rating %>/<%= card %>/remove" onClick="return checkMe()">Remove</a>
          <% else %>
            <p>  </p>
          <% end %>
          <a href="/equips/<%= rating %>/<%= card %>"><img class="sc_index_pic" src="<%= card_details['pic'] %>"/></a>
        </div>
    <% end %>
</div>
