<div class="container-fluid">

  <%= @test.first %>

  <form action="/new_unit2" method="post" enctype="multipart/form-data">
    <dl>
      <dt>
        <label for="unit_name">Enter a unit name:</label>
      </dt>
      <dd>
        <input class="content" name="unit_name" placeholder="" type="text"  value="<%= params[:unit_name] %>" required>
      </dd>
      <% @test.each do |col_name| %>
      <% next if col_name == 'name' %>

      <dt>
        <label for="<% col_name %>"><%= col_name.capitalize %> info:</label>
      </dt>
      <dd>

        <% if col_name == "pic" %>
          <label for="upload"><em>upload a file or enter filename (from server)</em></label>
          <input type="file" name="file" value="upload">
          <input class="content" name="<%= col_name %>" placeholder="file-name" type="text"  value="<%= params[col_name.to_sym]%>">
          <% elsif special_key?(col_name) || short_stat_key?(col_name) %>
            <% if col_name == "type" %>
              <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] %>"> Example: attacker, healer, tank, buffer, debuffer
            <% elsif col_name == "element" %>
              <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] %>"> Example: water, fire, grass, light, dark

              <% else %>
                <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= params[col_name.to_sym] %>">
            <% end %>
            <% elsif col_name == "id" %>
              <input class="content" name="<%= col_name %>" placeholder="" type="text"  value="<%= @new_id %>" disabled>
        <% else %>
          <textarea class="content" name="<%= col_name %>" rows="5" cols="50"></textarea>
        <% end %>
      </dd>
      <% end %>
    </dl>
    <fieldset class="actions">
      <button type="submit" value="Save">Save</button>
      <a href="/">Cancel</a>
    </fieldset>
  </form>
</div>
