<div class="container">
	<div  class="special-links">
		<% stars = @current_card["stars"] %>
		<a href="/equips/<%= stars %>stars">Go back</a>
	</div>

	<h3><%= upcase_name(@sc_name) %></h3>
	<div class="row">
		<div class="col-*">
			<img src="<%= @current_card["pic"] %>"/>
		</div>

		<div class="col-* stat-div-container">
			<% @current_card.each do |info_key, info_val| %>
			<% unless info_key == "index" || info_key == "pic" %>
			<div class="profile-stat-container">
				<h5 class="card-title"><%= info_key.capitalize %>:</h5>
				<ul>
					<% info_val.split(". ").each do |line| %>

					<% if line[-1] != '.' && info_key != "stars" %>
					<p><strong>·</strong> <%= line + "." %></p>
					<% else %>
					<p><strong>·</strong> <%= line %></p>
					<% end %>

					<% end %>
				</ul>
			</div>
			<% end %>
			<% end %>
		</div> <!-- col div -->

	</div>  <!-- row div -->

</div> <!-- inner main container -->
