<div id="viewing_profile"></div>

<div class="container popping">
	<div  class="special-links">
		<% stars = @current_card["stars"] %>
			<button type="button" class="btn btn-success btn-xs back-button" onclick="goBack()">Back to List</button>
			<button type="button" class="btn btn-warning btn-xs mobile-button" id="picture" onClick="return mobileHide()">Show Pictures</button>
	  	<% if session[:username] %>
				<a href="/equips/<%= stars %>stars/<%= @sc_name.downcase %>/edit"><button type="button" class="btn btn-primary btn-xs">Edit</button></a>
				<a href="/equips/<%= stars %>/<%= @sc_name %>/remove" onClick="return checkMe('<%= @sc_name %>')"><button type="button" class="btn btn-danger btn-xs">Remove</button></a>
		  <% end %>
	</div>

	<h3><%= upcase_name(@sc_name) %></h3>
	<div class="row sc-container">
		<div class="col-*">
			<img class="mobile" id="profile-sc" src="<%= @current_card["pic"] %>" alt="<%= @sc_name %>"/>
		</div>

		<div class="col-* stat-div-container">
			<% @current_card.each do |info_key, info_val| %>
			<% unless ["index", "pic"].include?(info_key) || info_key == 'enabled'%>
			<% next if @current_card['stars'] != '5' && info_key == 'prism' %>
				<div class="profile-stat-container">
					<h5 class="card-title"><%= info_key.capitalize %>:</h5>
					<% if ["stars", "tier"].include?(info_key) %>
						<%== format_stat(info_key, info_val) %>

					<% elsif ['normal', 'prism'].include?(info_key)%>
					<table style="width:100%">
					  <tr>
							<td colspan="2"></td>
					    <th class="tt1" colspan="2">L1</th>
					    <th class="tt1" colspan="2">L<%= @current_card['stars'] %>0 +0</th>
					    <th class="tt1" colspan="2">L<%= @current_card['stars'] %>0 +<%= @current_card['stars'] %></th>
					  </tr>
						<tr>
					    <th class="tt1" colspan="2"><%= info_val[0][0].upcase %></th>
							<td class="tt1" colspan="2"><%= info_val[0][1] %></td>
							<td class="tt1" colspan="2"><%= info_val[0][2] %></td>
							<td class="tt1" colspan="2"><%= info_val[0][3] %></td>
						</tr>
					 <tr>
 						 <th class="tt1" colspan="2"><%= info_val[1][0].upcase %></th>
						 <td class="tt1" colspan="2"><%= info_val[1][1] %></td>
						 <td class="tt1" colspan="2"><%= info_val[1][2] %></td>
						 <td class="tt1" colspan="2"><%= info_val[1][3] %></td>
					 </tr>
					</table>
					<% elsif info_key == 'passive' %>
					<table style="width:100%">
						<tr>
							<th class="tt1" colspan="2"><%= info_val[0][0].capitalize %></th>
							<td class="tt1" colspan="2"><%= sc_formatter(info_val[0][1]).capitalize %></td>
						</tr>
						<tr>
							<!-- passive skill header and info -->
							<th class="tt1" colspan="2"><%= info_val[1][0].capitalize %></th>
							<td class="tt1" colspan="2"><%= sc_formatter(info_val[1][1]) %></td>
						</tr>
						</table>
					<% end %>
				</div>
			<% end %>
			<% end %>
		</div> <!-- col div -->

	</div>  <!-- row div -->

</div> <!-- inner main container -->
