<div id="back_to_main">
  <a href="/">Go back</a>
</div>
<div class="unit_profile_div">

  <div class="unit_header_div">
    <h3><%= upcase_name(@unit_name) %></h3>
    <div class="unit_profile_pic">
      <img class="profile_imgs" src="<%= @current_unit["pic"] %>"/>
      <img class="profile_imgs" src="<%= @current_unit["pic2"] %>"/>
      <img class="profile_imgs" src="<%= @current_unit["pic3"] %>"/>
    </div>
    <div class="main_short_unit_stats_div">
      <% @current_unit.each do |info_key, info_val| %>
        <% unless info_key == "index" || info_key == "pic"  || info_key == "pic2"  || info_key == "pic3" || !is_special_key?(info_key) %>

        <div class="short_unit_stats_div">
            <h3 class="short_stat_title"><%= info_key.capitalize %>:</h3>
            <!-- <ul> -->
              <p class="short_stats"><%== format_stat(info_key, info_val) %></p>
            <!-- </ul> -->
        </div>
      <% end %>

      <% end %>
    </div>

 </div>

 <div class="main_unit_stats_div">
   <% @current_unit.each do |info_key, info_val| %>
     <% unless is_special_key?(info_key) || info_key == "index" %>
     <div class="unit_stats_div">
         <h3 class="stat_title"><%= info_key.capitalize %>:</h3>
         <ul>
           <% info_val.split(". ").each do |line| %>
             <p class="stats"><%= line %></p>
           <% end %>
         </ul>
       <% end %>
     </div>

   <% end %>
 </div>
